<!-- index.html -->
{% extends "base.html" %}
{% block title %}支付网站{% endblock %}
{% block content %}

<div class="contrainer">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3>测试用网站</h3>
                    {% if username %}
                        欢迎:{{username}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <form action="/email_look">
                <br>
                <input type="text" name="email">
                <input type="submit" value="查看邮件">
            </form>
        </div>
    </div>
</div>
{% endblock %}