<!-- myorder.html -->
{% extends "base.html" %}
{% block title %}我的收藏{% endblock %}
{% block content %}

<div class="contrainer">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="row">
        {% for mark in marks %}
            {% if forloop.first %}
                <div class="container">
            {% endif %}
                    <a href="/product/{{order.product.id}}" class="list-group-item">
                        名称：{{mark.product.name}}
                        <br />
                        价格：{{mark.product.price}}
                        <br />
                        卖家：{{mark.product.seller}}
                        <br />
                    </a>
                    <form action="/mark_remove" method="POST">
                        {% csrf_token %}
                        <input type='hidden' name='mark_id' value='{{ mark.id }}' />
                        <button class="btn btn-info" type="submit">移出收藏</button>
                    </form>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% empty %}
            <center><h3>没有收藏</h3></center>
        {% endfor %}
    </div>
    <div class="row" align="center">
            目前是第{{ marks.number }}页
    </div>
    <div class="pagination pagination-centered" style="height: auto;">
        <ul>

        </ul>
    </div>
    <div class="row" align="center">
        {% if orders.has_previous %}
            <a class="btn btn-info" href="?p={{ orders.previous_page_number }}">
                上一页
            </a>
        {% else %}
            <a class="btn btn-default" href="#">
                上一页
            </a>
        {% endif %}
        {% if orders.has_next %}
            <a class="btn btn-info" href="?p={{ orders.next_page_number }}">
                下一页
            </a>
        {% else %}
            <a class="btn btn-default " href="#">
                下一页
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}