<!-- myorder.html -->
{% extends "base.html" %}
{% block title %}我的订单{% endblock %}
{% block content %}

<div class="contrainer">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="row">
        {% for order in orders %}
            {% if forloop.first %}
                <div class="list-group">
            {% endif %}
                    <a href="/product/{{order.product.id}}" class="list-group-item">
                        名称：{{order.product.name}}
                        <br />
                        价格：{{order.product.price}}
                        <br />
                        卖家：{{order.product.seller}}
                        <br />
                    </a>
                    {% if order.state == 0 %}
                    <form action="/order_remove" method="POST">
                        {% csrf_token %}
                        <input type='hidden' name='order_id' value='{{ order.id }}' />
                        <button class="btn btn-info" type="submit">取消订单</button>
                    </form>
                    <form action="/pay" method="POST">
                        {% csrf_token %}
                        <input type='hidden' name='order_id' value='{{ order.id }}' />
                        <button class="btn btn-info" type="submit">提交付款信息到支付平台</button>
                    </form>
                    {% endif %}
                    {% if order.state == 1 %}
                    <a href="http://127.0.0.1:10086/pay/{{ order.payment_id }}" class="btn btn-info">去支付</a>
                    {% endif %}
                    {% if order.state == -1 %}
                    <button class="btn btn-default">此订单已取消</button>
                    {% endif %}
                    {% if order.state == 2 %}
                    <button class="btn btn-success">付款成功，请等待卖家发货</button>
                    {% endif %}
                    {% if order.state == 3 %}
                    <form action="/order_receive" method="POST">
                        {% csrf_token %}
                        <input type='hidden' name='order_id' value='{{ order.id }}' />
                        <button class="btn btn-info" type="submit">确认收货</button>
                    </form>
                    {% endif %}
                    {% if order.state == 4 %}
                    <a href="/comment/{{ order.id }}" class="btn btn-info">评价</a>
                    {% endif %}
                    {% if order.state == 5 %}
                    <button class="btn btn-success">已评价</button>
                    {% endif %}
            {% if forloop.last %}
                </div>
            {% endif %}
        {% empty %}
            <center><h3>没有订单</h3></center>
        {% endfor %}
    </div>
    <div class="row" align="center">
            目前是第{{ orders.number }}页
    </div>
    <div class="pagination pagination-centered" style="height: auto;">
        <ul>

        </ul>
    </div>
    <div class="row" align="center">
        {% if orders.has_previous %}
            <a class="btn btn-info" href="?p={{ orders.previous_page_number }}">
                上一页
            </a>
        {% else %}
            <a class="btn btn-default" href="#">
                上一页
            </a>
        {% endif %}
        {% if orders.has_next %}
            <a class="btn btn-info" href="?p={{ orders.next_page_number }}">
                下一页
            </a>
        {% else %}
            <a class="btn btn-default " href="#">
                下一页
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}