<!-- myproduct.html -->
{% extends "base.html" %}
{% block title %}我的商品{% endblock %}
{% block content %}

<div class="contrainer">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="row">
        {% for product in products %}
            {% if forloop.first %}
                <div class="list-group">
            {% endif %}
                    <a href="/product/{{product.id}}" class="list-group-item">
                        名称：{{product.name}}
                        <br />
                        价格：{{product.price}}
                        <br />
                        卖家：{{product.seller}}
                        <br />
                    </a>
                    {% if product.state == 1 %}已有人提交订单<br />{% endif %}
                    {% if product.state == 2 %}
                    <form action="/product_send" method="POST">
                        {% csrf_token %}
                        <input type='hidden' name='product_id' value='{{ product.id }}' />
                        <button class="btn btn-info" type="submit">发货</button>
                    </form>
                    {% endif %}
                    {% if product.state == 3 %}等待买家确认收货<br />{% endif %}
                    {% if product.state == 4 %}买家已收货<br />{% endif %}
            {% if forloop.last %}
                </div>
            {% endif %}
        {% empty %}
            <center><h3>您没有正在等待出售的物品</h3></center>
        {% endfor %}
    </div>
    <div class="row" align="center">
            目前是第{{ products.number }}页
    </div>
    <div class="pagination pagination-centered" style="height: auto;">
        <ul>

        </ul>
    </div>
    <div class="row" align="center">
        {% if products.has_previous %}
            <a class="btn btn-info" href="?p={{ products.previous_page_number }}">
                上一页
            </a>
        {% else %}
            <a class="btn btn-default" href="#">
                上一页
            </a>
        {% endif %}
        {% if products.has_next %}
            <a class="btn btn-info" href="?p={{ products.next_page_number }}">
                下一页
            </a>
        {% else %}
            <a class="btn btn-default " href="#">
                下一页
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}