<!-- product.html -->
{% extends "base.html" %}
{% block title %}查看商品{% endblock %}
{% block content %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    ID:
                    <br />
                    {{ product.id }}
                    <br />
                    Description:
                    <br />
                    {{ product.description }}
            </div>
        </div>
    </div>
    <div class="row" align="center">
        {% if profile_cur == product.seller %}
            <a href="/product_modify/{{product.id}}" class="btn btn-info">修改商品信息</a>
            <form action="/product_remove" method="POST">
                {% csrf_token %}
                <input type='hidden' name='product_id' value='{{ product.id }}' />
                <button class="btn btn-info" type="submit">删除商品</button>
            </form>
        {% else %}
            <form action="/mark_add" method="POST">
                {% csrf_token %}
                <input type='hidden' name='product_id' value='{{ product.id }}' />
                <button class="btn btn-info" type="submit">加入收藏</button>
            </form>
            <form action="/order_add" method="POST">
                {% csrf_token %}
                <input type='hidden' name='product_id' value='{{ product.id }}' />
                <button class="btn btn-info" type="submit">现在购买</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}