{% extends "base.html" %}
{% block title %} ddf {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3>用户信息</h3>
                </div>
            </div>
        </div>
    </div>
    <p>
        ID:{{ userinfo.user.username }}
        <br />
        uid:{{ userinfo.user.id }}
        <br />
        姓名：{{ userinfo.full_name }}
        <br />
        地址:{{ userinfo.address }}
        <br />
        电话：{{ userinfo.phone }}
        <br />
        绑定的支付账号：************
        <br />

    </p>
</div>
{% endblock %}